#body{
    background: linear-gradient(TO right, rgb(184, 85, 164) , rgb(40, 40, 87) , rgb(40, 40, 87)  ,rgb(184, 85, 164) );
overflow: hidden;

}
.H3{
    text-align: center;
    opacity: 70%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}
#music{
    margin-left: 800px; 
    text-align: center;
    background-color: aliceblue;
    height: 500px;
    width: 300px;
    border-radius: 20px;
    margin-bottom:20px ;
    margin-top: -80px;
    margin-right: 40px;
    

}
.shoes{
    text-align: center;
height: 150Px;
width: 150px;
object-fit: cover;
border-radius: 50%;

}
h2{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
#body2{
background: white;
padding-top:8x;
height: 75px;
text-align: center;
margin-top: -400px;
    margin-bottom: 20px;
    margin-left: 200px;
    margin-right: 500px;
    width: 500px;
    border-radius: 20px;
    


}
h1{
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size:60px ;
padding-top:3px ;
text-shadow: 5px 5px 5px rgb(25, 82, 135);
color: rgb(55, 55, 149);

}
#music2{
    margin-left: 260px;
margin-right: 40px;
font-size: 40px;
font-family:Georgia, 'Times New Roman', Times, serif



}



